:root{
    --black:black;
    --white:white;
    --blue: #003060;
    --lightpink:#9aa09d;
    --paleblue:#F0F4F8;
    --scrolltotop: #35424a;
    --logo_font_size:25px;
    --logo_font_size_mobileversion:40px;
    --nav_font_size:20px;
    --nav_font_size_mobileversion:30px;
    --section_heading_font_size:35px;
    --sections_padding:5px;
    --font_family:"Alegreya Sans",serif;
    --section_padding:70px;
    --section_padding_mobileversion: 25px;
    --content_font_size_mobileversion: 30px;
    --line-height_mobileversion: 50px;
    --subtags_font_size:25px;
    --section_main_content_size:28px;
    --section_main_content_size_mobileversion:45px;
    --content_font_size:20px;
}

body{
    margin:0%;
    font-family: var(--font_family);
}

.container {
    display: grid;
    grid-template-areas:
        "navigation navigation"
        "aboutme aboutme"
        "experience experience"
        "skills skills"
        "projects projects"
        "education achievements"
        "contactme contactme";
    height: 100vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
    
.main_nav{
    grid-area: navigation; 
    background-color: var(--blue);
    margin:0%;
    text-align: right;
    
}

.main_nav a {
    display:inline-block;
    color:var(--white);
    text-decoration:none;
    padding: 15px;
    padding-bottom:5px;
    font-size:var(--nav_font_size);
    
}

.main_nav .logo {
    float: left;
    font-weight:bolder;
    font-size:var(--logo_font_size);
}

.main_nav a:hover {
    background-color:var(--lightpink);
    color:var(--black);
    font-weight:bolder;
}

.main_nav .icon{
    display: none;
}

.sectionheading {
    text-align:center;
    font-weight:lighter;
    font-size:var(--section_heading_font_size);
    margin-top:10px;
    margin-bottom:20px;
}

#aboutme .sectionheading {
    position: relative;
    left: 50%;
}

#projects .sectionheading {
    position: relative;
    left: 50%;
}

#image_container .imagebuttonholder {
    display: flex;
    justify-content: center;
    align-items: center;
}

#skills .skillcontainer {
    display: flex;
    justify-content: center;
    align-items: center;

}

#aboutme {
    grid-area: aboutme;
    display: grid;
    padding:var(--sections_padding);
    background-color:var(--white);
    grid-template-columns: 1fr 1fr;
}


#image_container {
    grid-column: 1;
}

#intro_container {
    grid-column: 2;
}

#image_container .imagebuttonholder #userimage {
    width: 40%;
}

#intro_container #introductionbox {
    padding-right:var(--section_padding);
}

#intro_container #introductionbox #hello {
    font-size:var(--content_font_size);
    font-weight:bold;
    margin:0%;
}

#intro_container #introductionbox #name {
    font-size:var(--section_main_content_size);
    font-weight:bolder;
    margin:0%;
    margin-top:20px;
    margin-bottom: 20px ;
}

#intro_container #introductionbox #content {
    font-size:var(--content_font_size);
    text-align: justify;
    line-height:27px;
    margin: 0%;
    margin-top:10px;
}

#intro_container #introductionbox #email {
    font-size:18px;
    margin:0%;
    margin-top:10px;
}

#experience {
    grid-area: experience;
    padding:var(--sections_padding);
    background-color:var(--paleblue);
}

#experience #workdetails {
    padding-left:var(--section_padding);
    padding-right:var(--section_padding);
}

#experience #workdetails #company {
    font-size:var(--section_main_content_size);
    font-weight:bold;
    margin-bottom:0px;
}

#experience #workdetails .subtags {
    font-size:18px;
    margin-top:1%;
}

#experience #workdetails #reponsibilites {
    font-size:var(--content_font_size);
    text-align: justify;
    line-height:27px;
}

#skills {
    grid-area: skills;
    padding:var(--sections_padding);
    background-color:var(--white);
}

#skills  .skillscontainer .skill-image {
    width:100px;
    height: 100px;
    padding-left:50px;
    padding-right:50px;
    padding-bottom:30px;
}

#projects {
    grid-area: projects;
    display: grid;
    padding:var(--sections_padding);
    background-color:var(--paleblue);
    grid-template-columns: 1fr 1fr;
}

#proj1_container {
    grid-column: 1;   
}

#proj2_container {
    grid-column: 2;
}

#project1 {
    display: block;
    margin: 0 auto;
    width: 70%;
    height: 238px;
    border-radius: 10px;
}

#project2 {
    display: block;
    margin: 0 auto;
    width: 70%;
    height: 238px;
    border-radius: 10px;
}

.projectcontent {
    padding-left:var(--section_padding);
    padding-right:var(--section_padding);
}

.projectname {
    font-size:var(--section_main_content_size);
    font-weight:bold;
    margin-bottom:0px;
    text-align:center;
}

.projectdesc {
    font-size:var(--content_font_size);
    text-align: justify;
    line-height:22px;
}

#education
{
    padding:var(--sections_padding);
    background-color:var(--white);
    grid-area: education;
}

#education .educationinfo
{
    padding-left:var(--section_padding);
    padding-right:var(--section_padding);
}

#education .educationinfo .school
{
    font-size:var(--content_font_size);
    font-weight:bold;
    margin-bottom:0px;
}

#education .educationinfo .subtags
{
    font-size:18px;
    text-align: justify;
}

#achievements {
    padding: var(--sections_padding);
    background-color: var(--white);
    grid-area: achievements;
}

#achievementslisting
{
    font-size:var(--content_font_size);
    padding-left:var(--section_padding);
    padding-right:var(--section_padding);
    text-align: justify;
    line-height:22px;
}


#contactme {
    padding:var(--sections_padding);
    background-color:var(--paleblue);
    grid-area: contactme;
}

#contactdetails {
    display: flex;
    justify-content: center;
    align-items: center;
}

#contactdetails .contact-icon {
    width:30px;
    height: 30px;
    padding-right:15px;
    padding-left:15px;
    padding-bottom:5px;
}

#ScrollToTop .ScrollToTop {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: var(--scrolltotop);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 24px;
    display: block;
}

@media only screen and (max-width:500px) {
    .container {
        grid-template-areas:
            "navigation"
            "aboutme"
            "experience"
            "skills"
            "projects"
            "education"
            "achievements"
            "contactme";
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    .main_nav a:not(.logo) {
        display: none;
    }

    .main_nav a.icon {
        float: right;
        display: block;
    }

    .main_nav.responsive {
        position: relative;
    }

    .main_nav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .main_nav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    .main_nav .logo {
        font-size: var(--logo_font_size_mobileversion);
    }
    .main_nav a {
        font-size: var(--nav_font_size_mobileversion);
    
    }

    .sectionheading {
        font-size:60px;
        margin: 10px;
    }
    
    #aboutme {
        grid-template-rows: auto auto;
        grid-template-columns: 1fr;
        background-color: var(--white);
        padding-bottom: var(--section_padding_mobileversion);

    }
    #aboutme .sectionheading, #projects .sectionheading
    {
      grid-row:1;
      left:0%;

    }    
    #image_container {
        grid-row: 2;
        grid-column: 1;
    }

    #intro_container {
        grid-row: 3;
        grid-column: 1;
    }

    #image_container .imagebuttonholder #userimage {
        width: 80%;
    }

    #intro_container #introductionbox {
        padding: var(--section_padding_mobileversion);
        padding-top: 40px;
    }

    #intro_container #introductionbox #hello {
        font-size: var(--content_font_size_mobileversion);
    }

    #intro_container #introductionbox #name {
        font-size:var(--section_main_content_size_mobileversion);
    }

    #intro_container #introductionbox #content {
        font-size: var(--content_font_size_mobileversion);
        line-height: var(--line-height_mobileversion);
    }

    #intro_container #introductionbox #email {
        font-size: 25px;
    }

    #experience {
        padding: var(--section_padding_mobileversion);
    }

    #experience #workdetails {
        padding-left: var(--section_padding_mobileversion);
        padding-right: var(--section_padding_mobileversion);
    }

    #experience #workdetails #company {
        font-size: var(--section_main_content_size_mobileversion);
    }

    #experience #workdetails .subtags {
        font-size:var(--subtags_font_size);
    }

    #experience #workdetails .subtags span{
        display: block;
        line-height:30px;
    }
    #experience #workdetails #reponsibilites {
        font-size: var(--content_font_size_mobileversion);
        line-height: var(--line-height_mobileversion);
    }

    #skills {
        padding: var(--section_padding_mobileversion);
    }

    #skills .skillscontainer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        justify-content: center;
        align-items: center;
    }

    #skills .skillscontainer .skill-image {
        width: 100px;
        height: 100px;
        padding: 30px;
        padding-top: 10px;
    }

    #projects {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        padding: var(--section_padding_mobileversion);
    }

    #proj1_container {
        grid-column: 1;
        grid-row: 2;
    }

    #proj2_container {
        grid-column: 1;
        grid-row: 3;
    }

    #project1,
    #project2 {
        width: 80%;
    }

    .projectcontent {
        padding-left: var(--section_padding_mobileversion);
        padding-right: var(--section_padding_mobileversion);
    }

    .projectname {
        font-size: 45px;
    }

    .projectdesc {
        font-size: var(--content_font_size_mobileversion);
        line-height: var(--line-height_mobileversion);
    }

    #education {
        padding: var(--section_padding_mobileversion);
        background-color: var(--lightpink);
    }

    #education .educationinfo {
        padding-left: var(--section_padding_mobileversion);
        padding-right: var(--section_padding_mobileversion);
    }

    #education .educationinfo .school {
        font-size:var(--content_font_size_mobileversion);
    }

    #education .educationinfo .subtags {
        font-size: var(--content_font_size_mobileversion);
    }
    #education .educationinfo .subtags span {
        display: block;
        line-height:55px;
    }

    #achievements {
        padding: var(--section_padding_mobileversion);
    }

    #achievementslisting {
        font-size: var(--content_font_size_mobileversion);
        line-height: var(--line-height_mobileversion);
    }

    #contactme {
        padding: var(--section_padding_mobileversion);
        background-color: var(--white);
    }

    #contactdetails .contact-icon {
        width: 40px;
        height: 40px;
        padding-right: 40px;
    }

}

